/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

      html, body {
        height: 100%; /* For full height images */
      }

      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }

      .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        border-top: 1px solid #eee;
      }

      body > .navbar-transparent {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
      }

      .navbar-transparent .navbar-nav > .active > a {
        background-color: transparent;
      }

      .navbar-form {
        margin-right: 0;
      }

      .navbar-nav > li > a.profile-menu {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .navbar-nav > .btn {
        margin-top: 10px;
        margin-right: 1.7em;
      }

      .navbar-nav > li > a {
        font-size: 16px;
      }

      .navbar-brand {
        font-weight: bold;
      }

      .navbar-brand > img {
        float: left;
        margin-right: 10px;
      }


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
