{% templatetag openblock %}  extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %}  load staticfiles {% templatetag closeblock %}
{% templatetag openblock %}  load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
<div class="container">

    <div class="starter-template">
        <h1>The next big thing comming soon!</h1>
    </div>

</div><!-- /.container -->
{% templatetag openblock %} endblock container {% templatetag closeblock %}
