option_settings:
  #- namespace: aws:autoscaling:launchconfiguration
  #  option_name: EC2KeyName
  #  value: my-ssh-key
  #- namespace: aws:autoscaling:launchconfiguration
  #  option_name: IamInstanceProfile
  #  value: arn:aws:iam::xxxxxxxxxxxxxx:instance-profile/........
  #- namespace: aws:autoscaling:launchconfiguration
  #  option_name: SecurityGroups
  #  value: 'db-source,elb-node'
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
