option_settings:
  ## Enable if you have your own SNS Topic you want to use
  # Notification Options, Use existing SNS
  #- namespace: aws:elasticbeanstalk:sns:topics
  #  option_name: Notification Topic ARN
  #  value: arn:aws:sns:us-east-1:xxxxxxxxxxxxxxx:..................
  - namespace: aws:elasticbeanstalk:sns:topics
    option_name: Notification Topic Name
    value: ElasticBeanstalkNotifications
